#container{
    height: 100%;
}

#container a{
    width: 100%;
  }
  
  #container a:hover{
    background-color: rgba(69, 241, 213, 0.678);
  }
  
  #container a:focus{
    background-color: rgba(241, 166, 69, 0.678);
  }
  